.collabs-container {
  position: relative;
  background-image: url('../../assets/collab-background.jpeg');
  background-size: cover;
  height: 775px;

  .filter-background {
    background-color: #e30613;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 100;
  }

  .collab-card {
    position: relative;
    background-size: cover;
    width: 400px;
    height: 330px;
    border-radius: 5px;

    .collab-description {
      position: absolute;
      background-color: black;
      width: 100%;
      height: 33%;
      bottom: 0;
      border-radius: 0 0 5px 5px;
    }
  }
}

@media screen and (min-aspect-ratio: 1/1) and (max-width: 1024px) {
  .collabs-container {
    height: 1600px;
  }

  .collabs {
    flex-direction: column;
  }

  .collab-card {
    margin-bottom: 2em;
    align-self: center;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .collabs-container {
    height: 1400px;
  }

  .collabs {
    flex-direction: column;
  }

  .collab-card {
    margin-bottom: 2em;
    align-self: center;
  }
}
