@font-face {
  font-family: GraphikBold;
  src: url(../../Graphik-Font-Family/GraphikBold.otf);
}

@font-face {
  font-family: GraphikSemiBold;
  src: url(../../Graphik-Font-Family/GraphikSemibold.otf);
}

@font-face {
  font-family: GraphikMedium;
  src: url(../../Graphik-Font-Family/GraphikMedium.otf);
}

@font-face {
  font-family: GraphikRegular;
  src: url(../../Graphik-Font-Family/GraphikRegular.otf);
}

$boldSize: 125px;
$semiboldSize: 32px;
$mediumSize: 28px;
$regularSize: 18px;

$red: #e30613;
$yellow: #ffb700;
$black: #000000;
$white: #ffffff;
$darkgrey: #343434;
$grey: #636363;
$lightgrey: #dddddd;