.favorite-product-container {
  position: relative;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 3px 6px #00000029;
  background-color: black;

  img {
    width: 100%;
  }

  .labels {
    background-color: white;
    border-radius: 2px;
    color: black;
    font-size: 12px;
    padding: 4px;
  }
}

@media screen and (min-aspect-ratio: 1/1) and (max-width: 1024px) {
  .fav-products {
    flex-direction: column;
  }

  .favorite-product-container {
    margin-bottom: 2em;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .fav-products {
    flex-direction: column;
  }

  .favorite-product-container {
    margin-bottom: 2em;
  }
}
