.guides-advices-container {
  position: relative;
  background-image: url('../../assets/blog-background.jpeg');
  background-size: cover;
  height: 880px;

  .filter-background {
    background-color: #ffb700;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 100;
  }

  .head > p {
    margin-left: 13em;
    width: 50%;
  }

  .articles {
    width: 90%;
  }

  .article-card {
    position: relative;
    background-image: url('../../assets/blog-picture.jpeg');
    background-size: cover;
    height: 235px;
    width: 360px;
    border-radius: 5px;

    .article-description {
      position: absolute;
      background-color: black;
      width: 100%;
      height: 33%;
      bottom: 0;
      border-radius: 0 0 5px 5px;

      p {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

@media screen and (min-aspect-ratio: 1/1) and (max-width: 1024px) {
  .guides-advices-container {
    height: 1430px;

    .head > p {
      width: 75%;
      margin: 0 12.5%;
      text-align: center;
      align-self: center;
    }

    .articles {
      flex-direction: column;
      width: 45%;
    }

    .article-card {
      align-self: center;
      margin-bottom: 2em;

      .article-description {
        div > p {
          display: none;
        }
        p {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .guides-advices-container {
    height: 1300px;

    .head > p {
      margin-left: 3em;
      width: 75%;
      text-align: justify;
    }

    .articles {
      flex-direction: column;
      width: 95%;
    }

    .article-card {
      align-self: center;
      margin-bottom: 2em;

      .article-description {
        div > p {
          display: none;
        }
        p {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
