input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom- {
  height: 48px;
  width: 400px;
  border: solid 1px #707070;

  &:disabled {
    background-color: var(--vtmn-color_grey-light-2);
  }

  &:focus {
    border-color: var(--vtmn-color_brand-digital);
  }

  &input,
  &textarea {
    @extend .custom-;
    border-radius: 5px;
    outline: none;
    resize: none;
    padding: 20px;
  }
  &select {
    @extend .custom-;
    border-radius: 5px;
  }
}
.custom-button {
  width: 175px;
  height: 32px;
  border-radius: 5px;
  box-shadow: 0 3px 6px #5f7e7c29;
  color: white;
  cursor: pointer;
  outline: none;
}

.red-button {
  background-color: #e30613;
}

.yellow-button {
  background-color: #ffb700;
}
