@import 'src/styles/_font.scss';

@media screen and (min-aspect-ratio: 1/1) and (min-width: 1024px) {
  .menu-container {
    background-color: $yellow;
    .mobile-menu > * {
      display: none;
    }
    nav {
      display: flex;
      width: 50%;
    }
  }
}

@media screen and (min-aspect-ratio: 1/1) and (max-width: 1024px) {
  .menu-container {
    background-color: $yellow;
    .mobile-menu > * {
      display: none;
    }
    nav {
      display: flex;
      width: 75%;
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .menu-container {
    position: absolute;
    flex-direction: column;
    z-index: 100;
    .mobile-menu {
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
      .mobile-burger-button {
        margin: 5%;
      }
      .mobile-logo {
        margin: 3%;
        width: 75%;
      }
    }
    .logo {
      display: none;
    }
    nav {
      flex-direction: column;
      background-color: rgba(227, 6, 19, 0.7);
      color: $white;
      li {
        margin: 2% 0;
      }
    }
  }
}
