.profile-container {
  padding: 15em 8em 8em;
  .background {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 30%;
    background-image: url('../../assets/profile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    background-color: var(--vtmn-color_white);
    a {
      text-decoration: none;
    }
    .tab {
      &.active {
        border-left: 2px solid red;
      }
      h5 {
        color: var(--vtmn-color_brand-digital);
      }
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .profile-container {
    padding: 15em 8em 8em;
    .background {
      top: 0;
      background-position: top;
    }
  }
}
