.cartpage-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cartpage-logo {
    margin-bottom: 2em;
    width: 20%;
    height: 20%;
  }

  .form-payment-container {
    padding: 1em;
    border: 1px solid #707070;
    border-radius: 5px;
  }
  .cart-content {
    width: 75%;
    border-top: 1px solid #707070;

    .product-cart-image {
      width: 20%;
      height: 20%;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 5px;
    }

    .quantity-buttons {
      width: 10%;
    }

    button {
      background-color: red;
      font-weight: bold;
      color: white;
      width: 25%;
      height: 25%;
      border-radius: 5px;
      cursor: pointer;
    }

    .remove-btn {
      width: 175px;
      height: 32px;
      background-color: #ffb700;
      place-self: flex-end;
    }

    .payment-btn {
      width: 175px;
      height: 32px;
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .cartpage-container {
    margin: 0;
    padding-top: 7em;

    .cartpage-logo {
      display: none;
    }

    .cart-content {
      .quantity-buttons {
        width: 20%;
      }
    }
  }
}
