.sign-in_sign-up {
  display: flex;

  .left-side {
    padding-right: 5em;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-left: black 1px solid;
    padding-left: 5em;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      margin: 0.5em;
    }
  }

  .error {
    color: red;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .sign-in_sign-up {
    flex-direction: column;

    .left-side {
      border-bottom: black 1px solid;
      margin-bottom: 2em;
      padding: 0 0 2em;
    }

    .right-side {
      border-left: none;
      padding: 0;

      .custom-button {
        margin: 0.5em 0;
      }
    }

    .custom-input {
      width: 25em;
    }

    .custom-button {
      width: 25em;
      height: 3em;
    }
  }
}
