.authentication-container {
  p {
    font-size: 32px;
  }
}

.vertical-separation {
  width: 1px;
  height: 200px;
  background-color: #707070;
}

.horizontal-separation {
  width: 200px;
  height: 1px;
  background-color: #707070;
  margin: 3em 0;
}

.error-auth {
  color: red;
  font-size: 12px !important;
  position: absolute;
  bottom: 12%;
  left: 0;
}

@media screen and (max-aspect-ratio: 1/1) {
  .vertical-separation {
    width: 200px;
    height: 1px;
    background-color: #707070;
    margin: 2em 0;
  }

  .horizontal-separation {
    width: 200px;
    height: 1px;
    background-color: transparent;
    margin: 1em 0;
  }

  .login-container {
    flex-direction: column;
  }
}
