.authentication-container {
  p {
    font-size: 32px;
  }
}

.vertical-separation {
  width: 1px;
  height: 200px;
  background-color: #707070;
}

.horizontal-separation {
  width: 200px;
  height: 1px;
  background-color: #707070;
  margin: 3em 0;
}

.error-auth {
  color: red;
  font-size: 12px !important;
  position: absolute;
  bottom: 12%;
  left: 0;
}
