.products-container {
  height: 800px;

  .pictures-container {
    width: 60%;
    height: 100%;

    .mobile-square:first-of-type {
      //width: 100%;
    }
    .mobile-square:last-of-type {
      width: 100%;
    }
    .mobile-square {
      height: 100%;
      .small-picture {
        position: relative;
        width: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        b {
          position: absolute;
          z-index: 999;
          left: 0;
          right: 0;
          text-align: center;
          top: 50%;
          color: white;
          font-size: 14px;
        }
        p {
          position: absolute;
          z-index: 999;
          left: 0;
          right: 0;
          text-align: center;
          top: 75%; /* Adjust this value to move the positioned div up and down */
          color: white;
          font-size: 14px;
        }
      }

      .big-picture {
        position: relative;
        width: 80%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        b {
          position: absolute;
          z-index: 999;
          left: 0;
          right: 0;
          text-align: center;
          top: 50%; /* Adjust this value to move the positioned div up and down */
          color: white;
          font-size: 14px;
        }

        p {
          position: absolute;
          z-index: 999;
          left: 0;
          right: 0;
          text-align: center;
          top: 75%;
          color: white;
          font-size: 14px;
        }
      }
    }
  }

  .filter-div {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
}

@media screen and (min-aspect-ratio: 1/1) and (max-width: 1024px) {
  .products-container {
    height: 1000px;
    .pictures-container {
      width: 60%;
      flex-direction: column;
      .mobile-square {
        width: 100%;
        .small-picture {
          position: relative;
          width: 50%;
        }

        .big-picture {
          position: relative;
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .products-container {
    height: 400px;
    .pictures-container {
      width: 60%;
      flex-direction: column;
      .mobile-square {
        width: 100%;
        .small-picture {
          position: relative;
          width: 50%;
          b {
            top: 40%;
          }
          p {
            display: none;
          }
        }

        .big-picture {
          position: relative;
          width: 50%;
          b {
            top: 40%;
          }
          p {
            display: none;
          }
        }
      }
    }
  }
}