.products-container {
  height: 800px;

  .pictures-container {
    width: 60%;
    height: 100%;

    .small-pictures {
      position: relative;
      width: 16.66%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      b {
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        text-align: center;
        top: 50%;
        color: white;
        font-size: 14px;
      }
      p {
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        text-align: center;
        top: 75%; /* Adjust this value to move the positioned div up and down */
        color: white;
        font-size: 14px;
      }
    }

    .big-picture {
      position: relative;
      width: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      b {
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        text-align: center;
        top: 50%; /* Adjust this value to move the positioned div up and down */
        color: white;
        font-size: 14px;
      }

      p {
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        text-align: center;
        top: 75%;
        color: white;
        font-size: 14px;
      }
    }
  }

  .filter-div {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
}
