.background-container {
  .title-container {
    width: 100%;
    height: 700px;
    background-image: url('../../assets/background.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;

    h1 {
      width: 75%;
      margin: 12.5%;
      text-shadow: 0 3px 10px #000000cc;
    }

    .red-point {
      color: red;
    }
  }
}
