.background-container {
  position: relative;
  .background-image {
    width: 100%;
    height: 750px;
    object-fit: cover;

    position: relative;
  }

  .title-container {
    display: flex;

    h1 {
      margin-left: 0;
      text-shadow: 0 3px 10px #000000cc;
    }

    .red-point {
      color: red;
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  h1 {
    font-size: 2.7rem !important;
  }
}